ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e7292e;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.header{
    font-size: 1.5 rem;
    font-weight: bold;
  }

.details{
width: 100%;
padding: 2rem;
color: black;
margin-left: 0.5 rem;
}  