<div *ngIf="restaurant">
  <div class="details">
  <span class="header">  
  <h1>{{ restaurant.name }}</h1>
  </span>
    <p>Address : {{ restaurant.address }}</p>
    <p>Contact : {{ restaurant.contact }}</p>
    <h2>Reviews:</h2>
    <li *ngFor="let review of restaurant.reviews">
      {{ review }}
    </li>
  </div>

  <div class="details">
    <h2>Menu</h2>
  </div>  
    <ul>
      <li *ngFor="let food of foods">
          <a routerLink="/food/{{food.id}}">
          <img src="{{food.imageUrl}}" alt="food images">
          <div class="content">
              <div class="name">
                  {{food.name}}
              </div>
              <div class ="price">
                 {{food.price|currency}}
              </div>
          </div>
          </a>
      </li>
    </ul>
  
</div>

  